<!DOCTYPE html>
<html ng-app="Norm.WeeklyAnniversary">
<head>
  <title>Wistful Indie</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script type="text/javascript">
    (function(w) {
      w.Norm = w.Norm || {};
    })(window);
  </script>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body ng-cloak ng-controller="WeeklyAnniversariesCtrl">
  <header class='fixed' id='large_screen_header'>
    <div class='wrapper'>
      <div>
        <h2>Wistful Indie</h2>
        <div class="album-search">
          <input type="text" placeholder="Search artist or album…" ng-model="query" />
          <a class="search-clear" href="javascript:;" ng-click="clearSearch()">
            <%= fa_icon 'close' %>
          </a>
        </div>
      </div>
    </div>
  </header>

  <div id="main">
    <%= yield %>
  </div>
</body>
<% if Rails.env.production? %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43183791-4', 'auto');
  ga('send', 'pageview');

</script>
<% end %>
</html>
